{
    "printWidth": 120,
    "tabWidth": 4,
    "endOfLine": "lf",
    "semi": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderBuiltinModulesToTop": true,
    "importOrderParserPlugins": [
        "typescript",
        "jsx",
        "decorators-legacy"
    ],
    "importOrderMergeDuplicateImports": true,
    "importOrderCombineTypeAndValueImports": true,
    "importOrder": [
        "^(next/(.*)$)|^(next$)",
        "^(react/(.*)$)|^(react$)",
        "<THIRD_PARTY_MODULES>",
        "^components/(.*)$",
        "^hooks/(.*)$",
        "^contexts/(.*)$",
        "^styles/(.*)$",
        "^layouts/(.*)$",
        "^constants/(.*)$",
        "^services/(.*)$",
        "^wrappers/(.*)$",
        "^helpers/(.*)$",
        "^@servcy/(.*)$",
        "^types$",
        "^@/types/(.*)$",
        "^@/styles/(.*)$",
        "^@/components/(.*)$",
        "^@/utils/(.*)$",
        "^@/constants/(.*)$",
        "^[./]",
        ""
    ],
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports"
    ]
}